<div class="row">
  <div class="col-sm-12">
    <form id="<%=viewModel.id%>" autocomplete="off" method="<%=viewModel.method%>" action="<%=viewModel.actionUrl%>"novalidate>
      <h1>
        <%=view.currentItemId?viewModel.editFormTitle:viewModel.addFormTitle%>
      </h1>

      <div class="form-row">
        <% viewModel.fields.forEach( function(col, key){ %>

        <div class="col-md-12 mb-3">
          <label for="<%=col.name %>"><%=col.label %></label>
          <%if(col.tag == "input"){%>
            <input
            name="<%=col.name %>"
            id="<%=col.name %>"
                        
            type="<%=col.attributes.type %>"
            placeholder="<%=col.attributes.placeholder %>"
            pattern="<%=col.attributes.pattern %>"
            title="<%=col.attributes.title %>"
            class="<%=col.attributes.class %>"
            required="<%=col.validation.required %>"
 
          >
          <%}%>
          
          <%if(col.tag == "select"){%>
            <select id="<%=col.name%>" name="<%=col.lookupName%>" class="<%=col.attributes.class %>"  required="<%=col.validation.required %>">
                <%view.coachesList.forEach(function(coach){%>
                  <%if(coach.coach_id == view.data.coach_id){%>
                    <option selected value="<%=coach.coach_id%>"><%=coach.coachName%></option>
                  <%}
                  else{%>
                    <option value="<%=coach.coach_id%>"><%=coach.coachName%></option>
                  <%}%>
                <%})%>
            </select>
          <%}%>
          <div class="invalid-feedback">
            <%=col.validation.requiredMessage %>
          </div>
        </div>

        <% }) %>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button id="cancelButton" type="button" class="btn btn-danger">Cancel</button>
          <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <!--col-->
</div>
<!--row-->
